name: mcp frontend deployment

on:
  workflow_dispatch:
  # push:
  #   branches: ["main"]

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name }}
      url: https://github.com

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH Setup and Cloning Repository
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ./key.pem
          chmod 600 ./key.pem
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

          ssh -i ./key.pem ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} -T <<EOF
          REPO_DIR=~/mcp
          echo "Removing existing repository directory if exists"
          rm -rf \$REPO_DIR
          echo "Cloning repository from the relevant branch"
          git clone --single-branch --branch ${{ github.ref_name }} https://github.com/ONDC-Official/ondc-mcp.git \$REPO_DIR
          EOF

      - name: Install Docker Compose (if not installed)
        run: |
          ssh -i ./key.pem ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} <<EOF
          # Check if Docker Compose is installed
          if ! command -v docker-compose &> /dev/null
          then
            echo "Docker Compose not found. Installing..."
            sudo curl -L "https://github.com/docker/compose/releases/download/$(curl -s https://api.github.com/repos/docker/compose/releases/latest | jq -r .tag_name)/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            sudo chmod +x /usr/local/bin/docker-compose
          else
            echo "Docker Compose is already installed."
          fi
          EOF

      - name: Write secrets to .env on EC2
        run: |
          echo "Writing secrets to .env file"
          ssh -i ./key.pem ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} <<EOF
          REPO_DIR=~/mcp
          echo "Writing environment variables to .env file"
          # echo "FLASK_DEBUG=True" >> \$REPO_DIR/.env
          # echo "FLASK_RUN_HOST=0.0.0.0" >> \$REPO_DIR/.env

          echo "VITE_PAYMENT_TEST_MODE=${{ vars.VITE_PAYMENT_TEST_MODE }}" >> \$REPO_DIR/himira-mcp-frontend/.env

          echo "VITE_RAZORPAY_KEY_ID=${{ secrets.VITE_RAZORPAY_KEY_ID }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "VITE_RAZORPAY_KEY_SECRET=${{ secrets.VITE_RAZORPAY_KEY_SECRET }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "VITE_FIREBASE_API_KEY=${{ secrets.VITE_FIREBASE_API_KEY }}" >> \$REPO_DIR/himira-mcp-frontend/.env


          echo "VITE_APP_NAME=${{ vars.VITE_APP_NAME }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "VITE_API_BASE_URL=${{ vars.VITE_API_BASE_URL }}" >> \$REPO_DIR/himira-mcp-frontend/.env



          echo "VITE_FIREBASE_APP_ID=${{ vars.VITE_FIREBASE_APP_ID }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "VITE_FIREBASE_AUTH_DISABLE=${{ vars.VITE_FIREBASE_AUTH_DISABLE }}" >> \$REPO_DIR/himira-mcp-frontend/.env


          echo "VITE_FIREBASE_AUTH_DOMAIN=${{ vars.VITE_FIREBASE_AUTH_DOMAIN }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "VITE_FIREBASE_MESSAGING_SENDER_ID=${{ vars.VITE_FIREBASE_MESSAGING_SENDER_ID }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "VITE_FIREBASE_PROJECT_ID=${{ vars.VITE_FIREBASE_PROJECT_ID }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "VITE_FIREBASE_STORAGE_BUCKET=${{ vars.VITE_FIREBASE_STORAGE_BUCKET }}" >> \$REPO_DIR/himira-mcp-frontend/.env
          echo "PORT=${{ vars.PORT }}" >> \$REPO_DIR/himira-mcp-frontend/.env

          EOF

      - name: Verify .env and docker-compose.yml files
        run: |
          ssh -i ./key.pem ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} <<EOF
          REPO_DIR=~/mcp/himira-mcp-frontend
          # Check if .env and docker-compose.yml files exist
          if [ ! -f \$REPO_DIR/.env ]; then
            echo ".env file not found in \$REPO_DIR!"
            exit 1
          fi
          if [ ! -f \$REPO_DIR/docker-compose.yml ]; then
            echo "docker-compose.yml file not found in \$REPO_DIR!"
            exit 1
          fi
          echo ".env and docker-compose.yml files found."
          EOF

      - name: Automation Mock Server Deployment
        run: |
          echo "Deploying with Docker Compose"
          ssh -i ./key.pem ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} <<EOF
          REPO_DIR=~/mcp/himira-mcp-frontend
          cd \$REPO_DIR

          # Ensure the .env and docker-compose.yml files exist
          if [ ! -f .env ]; then
            echo ".env file not found!"
            exit 1
          fi

          if [ ! -f docker-compose.yml ]; then
            echo "docker-compose.yml file not found!"
            exit 1
          fi

          # Start the containers using Docker Compose
          echo "Running docker-compose up -d --build"
          sudo docker-compose up -d --build
          EOF
